# Base URLs
petstore.base.url=https://petstore.swagger.io/v2
reqres.base.url=https://reqres.in/api

# Auth credentials (ReqRes test account)
auth.email=eve.holt@reqres.in
auth.password=cityslicka

# ReqRes API Key - You can have this on there website home page. Have provided option to generate api-key
reqres.api.key=YOUR_API_KEY_HERE

# Environment
env=YOUR_ENV